@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Nunito&display=swap');

.card {
  width: 36rem;
  margin: 20px auto;
  border: 1px solid #e8e8e8 !important;
}

.card h1 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
}

.card p {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
}
